In [16]:
import numpy as np
import pandas as pd
training = pd.read_csv('C:\\Users\\Haekal Sutrisna\\Jupyter Notebook\\Sanberscode\\TA\\DATA\\train.csv')
testing = pd.read_csv('C:\\Users\\Haekal Sutrisna\\Jupyter Notebook\\Sanberscode\\TA\\DATA\\test.csv')

In [17]:
training.head()

,index,daya_baterai,bluetooth,kecepatan_clock,dual_sim,kamera_depan,four_g,memori_internal,tebal_hp,berat_hp,...,px_panjang,px_lebar,kapasitas_ram,panjang_layar,lebar_layar,waktu_telfon,three_g,touch_screen,wifi,price_range
0,1045,531,0,1.1,0,10,Tidak,63,0.7,189,...,145,1903,2958,17.0,1,19,0,1,0,2000k-3000k
1,937,764,1,1.2,1,1,Tidak,13,1.0,152,...,361,511,3148,18.0,7,6,1,1,0,2000k-3000k
2,1658,1812,1,1.3,1,4,Ya,42,1.0,162,...,380,1550,3338,18.0,13,11,1,1,1,>3000k
3,529,1821,0,0.9,0,9,Ya,12,0.3,114,...,97,1803,2430,7.0,4,6,1,1,1,2000k-3000k
4,895,1790,1,2.3,1,3,Ya,49,0.5,100,...,396,1980,3568,6.0,2,18,1,0,1,>3000k

In [18]:
testing.head()

,index,daya_baterai,bluetooth,kecepatan_clock,dual_sim,kamera_depan,four_g,memori_internal,tebal_hp,berat_hp,...,kamera_belakang_mp,px_panjang,px_lebar,kapasitas_ram,panjang_layar,lebar_layar,waktu_telfon,three_g,touch_screen,wifi
0,405,1454,1,0.5,1,1,Tidak,34,0.7,83,...,3,250,1033,3419,7,5,5,1,1,0
1,1190,1092,1,0.5,1,10,Tidak,11,0.5,167,...,14,468,571,737,14,4,11,0,1,0
2,1132,1524,1,1.8,1,0,Tidak,10,0.6,174,...,1,154,550,2678,16,5,13,1,0,1
3,731,1807,1,2.1,0,2,Tidak,49,0.8,125,...,10,337,1384,1906,17,13,13,0,1,1
4,1754,1086,1,1.7,1,0,Ya,43,0.2,111,...,1,56,1150,3285,11,5,17,1,1,0

In [19]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               1500 non-null   int64
 1   daya_baterai        1500 non-null   int64
 2   bluetooth           1500 non-null   int64
 3   kecepatan_clock     1450 non-null   float64
 4   dual_sim            1500 non-null   int64
 5   kamera_depan        1500 non-null   int64
 6   four_g              1500 non-null   object
 7   memori_internal     1500 non-null   int64
 8   tebal_hp            1500 non-null   float64
 9   berat_hp            1500 non-null   int64
 10  jumlah_prosesor     1500 non-null   int64
 11  kamera_belakang_mp  1500 non-null   int64
 12  px_panjang          1500 non-null   int64
 13  px_lebar            1500 non-null   int64
 14  kapasitas_ram       1500 non-null   int64
 15  panjang_layar       1381 non-null   float64
 16  lebar_layar         1500 non-null   int64
 17  waktu_telfon        1500 non-null   int64
 18  three_g             1500 non-null   int64
 19  touch_screen        1500 non-null   int64
 20  wifi                1500 non-null   int64
 21  price_range         1500 non-null   object
dtypes: float64(3), int64(17), object(2)
memory usage: 257.9+ KB

In [20]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               500 non-null    int64
 1   daya_baterai        500 non-null    int64
 2   bluetooth           500 non-null    int64
 3   kecepatan_clock     500 non-null    float64
 4   dual_sim            500 non-null    int64
 5   kamera_depan        500 non-null    int64
 6   four_g              500 non-null    object
 7   memori_internal     500 non-null    int64
 8   tebal_hp            500 non-null    float64
 9   berat_hp            500 non-null    int64
 10  jumlah_prosesor     500 non-null    int64
 11  kamera_belakang_mp  500 non-null    int64
 12  px_panjang          500 non-null    int64
 13  px_lebar            500 non-null    int64
 14  kapasitas_ram       500 non-null    int64
 15  panjang_layar       500 non-null    int64
 16  lebar_layar         500 non-null    int64
 17  waktu_telfon        500 non-null    int64
 18  three_g             500 non-null    int64
 19  touch_screen        500 non-null    int64
 20  wifi                500 non-null    int64
dtypes: float64(2), int64(18), object(1)
memory usage: 82.2+ KB

In [21]:
def null_table(training,testing):
    print("Training Data Frame")
    print(pd.isnull(training).sum())
    print("")
    print("Testing Data Frame")
    print(pd.isnull(testing).sum)
    
null_table(training,testing)

Training Data Frame
index                   0
daya_baterai            0
bluetooth               0
kecepatan_clock        50
dual_sim                0
kamera_depan            0
four_g                  0
memori_internal         0
tebal_hp                0
berat_hp                0
jumlah_prosesor         0
kamera_belakang_mp      0
px_panjang              0
px_lebar                0
kapasitas_ram           0
panjang_layar         119
lebar_layar             0
waktu_telfon            0
three_g                 0
touch_screen            0
wifi                    0
price_range             0
dtype: int64

Testing Data Frame
<bound method DataFrame.sum of      index  daya_baterai  bluetooth  kecepatan_clock  dual_sim  kamera_depan  \
0    False         False      False            False     False         False
1    False         False      False            False     False         False
2    False         False      False            False     False         False
3    False         False      False            False     False         False
4    False         False      False            False     False         False
..     ...           ...        ...              ...       ...           ...
495  False         False      False            False     False         False
496  False         False      False            False     False         False
497  False         False      False            False     False         False
498  False         False      False            False     False         False
499  False         False      False            False     False         False

     four_g  memori_internal  tebal_hp  berat_hp  ...  kamera_belakang_mp  \
0     False            False     False     False  ...               False
1     False            False     False     False  ...               False
2     False            False     False     False  ...               False
3     False            False     False     False  ...               False
4     False            False     False     False  ...               False
..      ...              ...       ...       ...  ...                 ...
495   False            False     False     False  ...               False
496   False            False     False     False  ...               False
497   False            False     False     False  ...               False
498   False            False     False     False  ...               False
499   False            False     False     False  ...               False

     px_panjang  px_lebar  kapasitas_ram  panjang_layar  lebar_layar  \
0         False     False          False          False        False
1         False     False          False          False        False
2         False     False          False          False        False
3         False     False          False          False        False
4         False     False          False          False        False
..          ...       ...            ...            ...          ...
495       False     False          False          False        False
496       False     False          False          False        False
497       False     False          False          False        False
498       False     False          False          False        False
499       False     False          False          False        False

     waktu_telfon  three_g  touch_screen   wifi
0           False    False         False  False
1           False    False         False  False
2           False    False         False  False
3           False    False         False  False
4           False    False         False  False
..            ...      ...           ...    ...
495         False    False         False  False
496         False    False         False  False
497         False    False         False  False
498         False    False         False  False
499         False    False         False  False

[500 rows x 21 columns]>

In [22]:
train = training.copy()
test = testing.copy()

In [23]:
train.head()

,index,daya_baterai,bluetooth,kecepatan_clock,dual_sim,kamera_depan,four_g,memori_internal,tebal_hp,berat_hp,...,px_panjang,px_lebar,kapasitas_ram,panjang_layar,lebar_layar,waktu_telfon,three_g,touch_screen,wifi,price_range
0,1045,531,0,1.1,0,10,Tidak,63,0.7,189,...,145,1903,2958,17.0,1,19,0,1,0,2000k-3000k
1,937,764,1,1.2,1,1,Tidak,13,1.0,152,...,361,511,3148,18.0,7,6,1,1,0,2000k-3000k
2,1658,1812,1,1.3,1,4,Ya,42,1.0,162,...,380,1550,3338,18.0,13,11,1,1,1,>3000k
3,529,1821,0,0.9,0,9,Ya,12,0.3,114,...,97,1803,2430,7.0,4,6,1,1,1,2000k-3000k
4,895,1790,1,2.3,1,3,Ya,49,0.5,100,...,396,1980,3568,6.0,2,18,1,0,1,>3000k

In [24]:
test.head()

,index,daya_baterai,bluetooth,kecepatan_clock,dual_sim,kamera_depan,four_g,memori_internal,tebal_hp,berat_hp,...,kamera_belakang_mp,px_panjang,px_lebar,kapasitas_ram,panjang_layar,lebar_layar,waktu_telfon,three_g,touch_screen,wifi
0,405,1454,1,0.5,1,1,Tidak,34,0.7,83,...,3,250,1033,3419,7,5,5,1,1,0
1,1190,1092,1,0.5,1,10,Tidak,11,0.5,167,...,14,468,571,737,14,4,11,0,1,0
2,1132,1524,1,1.8,1,0,Tidak,10,0.6,174,...,1,154,550,2678,16,5,13,1,0,1
3,731,1807,1,2.1,0,2,Tidak,49,0.8,125,...,10,337,1384,1906,17,13,13,0,1,1
4,1754,1086,1,1.7,1,0,Ya,43,0.2,111,...,1,56,1150,3285,11,5,17,1,1,0

In [25]:
training = pd.get_dummies(training, columns={'four_g'})
testing = pd.get_dummies(testing, columns={'four_g'})

In [28]:
X = training.drop(['price_range'], axis =1)
y = training['price_range']

In [29]:
X.iloc[:,:].values

array([[1.045e+03, 5.310e+02, 0.000e+00, ..., 0.000e+00, 1.000e+00,
        0.000e+00],
       [9.370e+02, 7.640e+02, 1.000e+00, ..., 0.000e+00, 1.000e+00,
        0.000e+00],
       [1.658e+03, 1.812e+03, 1.000e+00, ..., 1.000e+00, 0.000e+00,
        1.000e+00],
       ...,
       [1.653e+03, 1.190e+03, 0.000e+00, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [5.590e+02, 1.191e+03, 0.000e+00, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [6.840e+02, 7.060e+02, 0.000e+00, ..., 1.000e+00, 0.000e+00,
        1.000e+00]])

In [31]:
X.head()

,index,daya_baterai,bluetooth,kecepatan_clock,dual_sim,kamera_depan,memori_internal,tebal_hp,berat_hp,jumlah_prosesor,...,px_lebar,kapasitas_ram,panjang_layar,lebar_layar,waktu_telfon,three_g,touch_screen,wifi,four_g_Tidak,four_g_Ya
0,1045,531,0,1.1,0,10,63,0.7,189,7,...,1903,2958,17.0,1,19,0,1,0,1,0
1,937,764,1,1.2,1,1,13,1.0,152,8,...,511,3148,18.0,7,6,1,1,0,1,0
2,1658,1812,1,1.3,1,4,42,1.0,162,7,...,1550,3338,18.0,13,11,1,1,1,0,1
3,529,1821,0,0.9,0,9,12,0.3,114,1,...,1803,2430,7.0,4,6,1,1,1,0,1
4,895,1790,1,2.3,1,3,49,0.5,100,3,...,1980,3568,6.0,2,18,1,0,1,0,1

In [32]:
from sklearn.preprocessing import StandardScaler
cols = X.columns
cols2 = testing.columns

scaler = StandardScaler()
X = scaler.fit_transform(X)
X_test = scaler.transform(testing)

X = pd.DataFrame(X,columns=cols)
X.dropna(axis=0)
X_test = pd.DataFrame(X_test,columns=cols2)
X_test.dropna(axis=0)
np.nan_to_num(X)
np.nan_to_num(X_test)

array([[-1.04352259,  0.50009554,  1.02429504, ..., -1.02840321,
         1.03390789, -1.03390789],
       [ 0.32031471, -0.31946105,  1.02429504, ..., -1.02840321,
         1.03390789, -1.03390789],
       [ 0.21954711,  0.65857334,  1.02429504, ...,  0.97238125,
         1.03390789, -1.03390789],
       ...,
       [ 0.71122349,  1.19060593,  1.02429504, ..., -1.02840321,
        -0.96720415,  0.96720415],
       [ 0.37764799, -1.62803483,  1.02429504, ...,  0.97238125,
        -0.96720415,  0.96720415],
       [ 0.94229401,  0.40048093,  1.02429504, ..., -1.02840321,
        -0.96720415,  0.96720415]])

In [33]:
X_test.head()

,index,daya_baterai,bluetooth,kecepatan_clock,dual_sim,kamera_depan,memori_internal,tebal_hp,berat_hp,jumlah_prosesor,...,px_lebar,kapasitas_ram,panjang_layar,lebar_layar,waktu_telfon,three_g,touch_screen,wifi,four_g_Tidak,four_g_Ya
0,-1.043523,0.500096,1.024295,-1.257003,0.972381,-0.751433,0.111768,0.688741,-1.601554,-0.231584,...,-0.532012,1.227431,-1.234395,-0.190641,-1.101000,0.561951,1.010724,-1.028403,1.033908,-1.033908
1,0.320315,-0.319461,1.024295,-1.257003,0.972381,1.369927,-1.143845,-0.005088,0.793279,-0.671300,...,-1.596189,-1.271207,0.374679,-0.417596,-0.005720,-1.779513,1.010724,-1.028403,1.033908,-1.033908
2,0.219547,0.658573,1.024295,0.303283,0.972381,-0.987140,-1.198437,0.341826,0.992848,-0.231584,...,-1.644561,0.537091,0.834415,-0.190641,0.359374,0.561951,-0.989390,0.972381,1.033908,-1.033908
3,-0.477139,1.299276,1.024295,0.663349,-1.028403,-0.515726,0.930646,1.035656,-0.404137,-1.550733,...,0.276486,-0.182129,1.064282,1.624991,0.359374,-1.779513,1.010724,0.972381,1.033908,-1.033908
4,1.300193,-0.333045,1.024295,0.183261,0.972381,-0.987140,0.603095,-1.045832,-0.803276,0.647849,...,-0.262512,1.102592,-0.314924,-0.190641,1.089561,0.561951,1.010724,-1.028403,-0.967204,0.967204

In [36]:
import seaborn as sns

from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression

In [43]:
classifier = [
    KNeighborsClassifier(3),
    SVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier(),
    GaussianNB,
    LinearDiscriminantAnalysis(),
    QuadraticDiscriminantAnalysis(),
    LogisticRegression()]

log_cols = ['Classifier','Accuracy']
log= pd.DataFrame(columns=log_cols)

sss = StratifiedShuffleSplit(n_splits=10, test_size=0.1, random_state=0)

X = X.iloc[:,:].values
y = y.values

acc_dict = {}

for train_index, test_index in sss.split(X,y):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    for clf in classifier:
        name = clf.__class__.__name__
        clf.fit(X_train, y_train)
        train_predictions = clf.predict(X_test)
        acc = accuracy_score(y_test,train_predictions)
        if name in acc_dict:
            acc_dict[name] = acc
        else:
            acc_dict[name] = acc
            
for clf in acc_dict:
    acc_dict[clf] = acc_dict[clf]/10.0
    log_entry = pd.DataFrame([[clf, acc_dict[clf]]],columns =log_cols)
    log = log.append(log_entry)

plt.xlabel('Accuracy')
plt.title('Classifier Accuracy')

sns.set_color_codes("muted")
sns.barplot(x='Accuracy', y='Classifier', data=log, color='b')

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [42]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import f1_score

model_rf = RandomForestClassifier()
param_grid = {'n_estimators':[100,200,300,400,500], 'criterion':['gini','entropy'],
              'max_features':['auto','sqrt','log2'],
              'max_depth':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
              'bootstrap':[True, False],'min_sample_split':[2,3,4,5,6,7,8,9,10], 'class_weight':['balanced','balanced_subsample'],
              'min_samples_leaf':[1,2,3,4,5]}

scoring = f1_score('average'='micro')
rscv = RandomizedSearchCV(model_rf,param_grid,cv=10,scoring=scoring)
rscv.fit(X,y)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-42-9760c7dbaa20>, line 13)

In [ ]:
submission = pd.DataFrame({'index' : testing['index'],'price_range':predict})
submission.to_csv('tes_gaji.csv', index=False)